#brands {
  overflow: hidden;
  background: $background-gray-color;
  padding-bottom: 100px;
}

.brands {
  &__title {
    padding-top: 15px;
  }
  &__wrapper {
    overflow: hidden;
    height: (72px * 2) + 32px;
    margin-top: 40px;
    @include mobile-l-max {
      height: 100%;
      overflow:visible;
    }
  }
  &__item {
    cursor: pointer;
    @include tablet-m-max {
      width: 224px;
    }
    @include mobile-l-max {
      width: 240px;
      margin-right: 16px;
    }
  }
  &__btn {
    margin-top: 24px;
  }
  &__pagination,
  .swiper-pagination-horizontal {
    @include mobile-l-max {
      bottom: -30px;
      .swiper-pagination-bullet {
        background: #cdcdcd;
        width: 12px;
        height: 12px;
      }
      .swiper-pagination-bullet-active {
        background: #b5b6bc;
      }
    }
  }
}
